.main {
  @apply flex flex-col justify-end items-center w-full h-screen pt-[60px] bg-[url(/assets/Bg1.svg)] bg-no-repeat bg-cover bg-left-bottom bg-origin-content;
}

.texts-container {
  @apply w-full pb-7 pl-7 pr-12 flex flex-col justify-around h-[290px];
}

.header1 {
  @apply text-3xl font-bold	text-white;
}

.header1-span {
  @apply text-3xl font-bold text-[#FAC13C];
}

.paragraph {
  @apply text-white font-semibold;
}

.button {
  @apply w-full h-[60px] bg-white rounded-[30px] font-bold text-[20px] text-[#071E4A];
}

.texts-container {
  transition: 0.7s;
  animation: pulse 0.7s;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
